discord.py
google_search_results
pydot
PyPDF2
requests
transformers
google-api-python-client
wolframalpha
langchain==0.0.141
openai
tiktoken
wikipedia
graphviz
asyncpg
aioredis
chardet
lxml
jinja2
brotlipy
Flask
gunicorn
cryptography