body {
    font-family: owners, sans-serif;
    font-style: normal;
    font-weight: 300;
    margin: 0;
    padding: 0;
    background-color: #2d2d2d;
    color: #ffffff;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
}
h1 {
    font-family: owners-xxwide, sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1.5em;
}
h2 {
    font-family: owners-xwide, sans-serif;
    font-style: normal;
    font-weight: 400;
    margin-top: 1.5em;
    margin-bottom: 1em;
}
p {
    font-family: owners, sans-serif;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 1em;
}
.last-updated {
    text-align: right;
    font-style: normal;
}