body {
    font-family: "loretta-variable", sans-serif;
    font-style: normal;
    font-variation-settings: "wght" 300;
    margin: 0;
    padding: 0;
    background-color: #2d2d2d;
    color: #ffffff;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
}
h1 {
    font-family: "vinila-variable", sans-serif;
    font-style: normal;
    font-variation-settings: "slnt" 0, "wght" 400, "wdth" 125;
    text-align: center;
    margin-bottom: 1.5em;
}
h2 {
    font-family: "vinila-variable", sans-serif;
    font-style: normal;
    font-variation-settings: "slnt" 0, "wght" 300, "wdth" 100;
    margin-top: 1.5em;
    margin-bottom: 1em;
}
p {
    font-family: "loretta-variable", sans-serif;
    font-style: normal;
    font-variation-settings: "wght" 300;
}
.last-updated {
    font-family: "vinila-variable", sans-serif;
    font-variation-settings: "slnt" 0, "wght" 200, "wdth" 100;
    text-align: right;
    font-style: normal;
}
/* Navbar styles */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    height: 60px;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
    font-family: "vinila-variable", sans-serif;
    font-variation-settings: "slnt" 0, "wght" 500, "wdth" 125;
    font-style: normal;
}
/* Footer styles */
footer {
    background-color: #333;
    padding: 20px;
}

.footer-container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-links,
.footer-contact {
    color: #fff;
}

.footer-links a,
.footer-contact a {
    color: #fff;
    text-decoration: none;
}

.footer-links a:hover,
.footer-contact a:hover {
    text-decoration: underline;
}

.footer-links span {
    margin: 0 10px;
}

/* Mobile styles */
@media (max-width: 767px) {
    .footer-container {
        flex-direction: column;
    }

    .footer-links {
        margin-bottom: 10px;
    }
}
/* Add button styles */
.add-button {
    display: flex;
    align-items: center;
    background-color: #7289da;
    border-radius: 5px;
    padding: 8px 12px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.add-button i {
    margin-right: 5px;
}

.add-button:hover {
    background-color: #586dc8;
}

/* Mobile styles */
@media (max-width: 767px) {
    .navbar {
        justify-content: space-between;
    }
}
