body {
    font-family: "loretta-variable", sans-serif;
    font-style: normal;
    font-variation-settings: "wght" 300;
    margin: 0;
    padding: 0;
    background-color: #2d2d2d;
    color: #ffffff;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
}
h1 {
    font-family: "vinila-variable", sans-serif;
    font-style: normal;
    font-variation-settings: "slnt" 0, "wght" 400, "wdth" 125;
    text-align: center;
    margin-bottom: 1.5em;
}
h2 {
    font-family: "vinila-variable", sans-serif;
    font-style: normal;
    font-variation-settings: "slnt" 0, "wght" 300, "wdth" 100;
    margin-top: 1.5em;
    margin-bottom: 1em;
}
p {
    font-family: "loretta-variable", sans-serif;
    font-style: normal;
    font-variation-settings: "wght" 300;
}
.last-updated {
    font-family: "vinila-variable", sans-serif;
    font-variation-settings: "slnt" 0, "wght" 100, "wdth" 100;
    text-align: right;
    font-style: normal;
}