<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>terms</title>
    <link rel="stylesheet" href="https://use.typekit.net/umh2xws.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/png" href="static/neuron.png">
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="/" class="navbar-logo">iva</a>
            <div class="nav-buttons">
                <a href="https://discord.com/api/oauth2/authorize?client_id=1050437164367880202&permissions=535999544385&scope=bot%20applications.commands" class="add-button" style="display: flex; align-items: center;">
                    <svg width="16" height="16" viewBox="0 0 18 13" fill="none" xmlns="http://www.w3.org/2000/svg" class="text-dark-100 w-5" style="margin-right: 5px;">
                        <path d="M15.248 1.089A15.431 15.431 0 0011.534 0a9.533 9.533 0 00-.476.921 14.505 14.505 0 00-4.12 0A9.582 9.582 0 006.461 0a15.54 15.54 0 00-3.717 1.091C.395 4.405-.242 7.636.076 10.821A15.269 15.269 0 004.631 13c.369-.473.695-.974.975-1.499a9.896 9.896 0 01-1.536-.699c.13-.089.255-.18.377-.27 1.424.639 2.979.97 4.553.97 1.574 0 3.129-.331 4.553-.97.123.096.25.188.377.27a9.94 9.94 0 01-1.54.7c.28.525.607 1.026.976 1.498a15.2 15.2 0 004.558-2.178c.373-3.693-.639-6.895-2.676-9.733zM6.01 8.862c-.888 0-1.621-.767-1.621-1.712 0-.944.708-1.718 1.618-1.718.91 0 1.638.774 1.623 1.718-.016.945-.715 1.712-1.62 1.712zm5.98 0c-.889 0-1.62-.767-1.62-1.712 0-.944.708-1.718 1.62-1.718.912 0 1.634.774 1.618 1.718-.015.945-.713 1.712-1.618 1.712z" fill="currentColor" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;"></path>
                    </svg>
                    add
                </a>
                <a href="https://discord.gg/gGkwfrWAzt" class="support-button" style="display: flex; align-items: center;">
                    support
                </a>
            </div>
        </nav>
    </header>
    <div class="container">
        <h1>Terms of Service</h1>
        <p>Effective April 26, 2023</p>
        <p>By inviting Iva to your Discord server you agree that you have read, understood, and accepted these terms. You are also responsible for informing the members in your Discord server about these terms. If you do not agree with any of these terms, you are prohibited from using or adding any version of Iva to your server.</p>

        <h2>Disclaimer</h2>
        <p>You are strictly prohibited to use Iva against the ToS of Discord or for illegal purposes. We are doing our best to prevent these activities, while trying to provide the best user experience as possible. If you find people or communities using Iva against the ToS of Discord or even for illegal activities, please send us an email to <strong>hi@iva.gg</strong>.</p>

        <h2>Proprietary Rights</h2>
        <p>We (Iva) own and retain all rights for public available data. We grant you the permission to use this available data for your own needs, but strictly disallow any commercial use. You therefore shall not sell, license or otherwise commercialize the data except if the permission was expressly granted to you.</p>

        <h2>Availability</h2>
        <p>Iva is provided as-is. There are no guarantees that it will be available in the future, and its purpose or availability may be changed at any time. User related data including backups may be deleted at any time. User related data including backups is non-transferable between Discord accounts. Access to all or specific features of Iva may be revoked, for all or a specific user, at any time.</p>
    
        <h2>Changes to Terms of Service</h2>
        <p>We may update these terms and will post changes on this page.</p>
    
        <h2>Contact Us</h2>
        <p>For questions, contact us through our Discord support channel or email at <strong>hi@iva.gg</strong>.</p>
    </div>
    <footer>
        <div class="footer-container">
            <div class="footer-links">
                <a href="/privacy">privacy</a>
                <span>|</span>
                <a href="/terms">terms</a>
            </div>
            <div class="footer-contact">
                <p><a href="mailto:hi@iva.gg">hi@iva.gg</a></p>
            </div>
        </div>
    </footer>
    
</body>
</html>
